.invite {
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.invite__image {
  width: 700px;
  height: 466px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.invite__info {
  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: left;
    color: #122947;
  }
  p {
    margin: 30px 0 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.1px;
    text-align: left;
    color: #122947;
  }
}


@media (max-width: 992px) {
  .invite {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .invite__image {
    width: 580px;
  }
}

@media (max-width: 580px) {
  .invite__image {
    width: 320px;
    height: auto;
  }
}


